@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Phone">P:</abbr>
    000.000.0000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:yatzuri.rojas@gmail.com">yatzuri.rojas@gmail.com</a><br />
    <strong>More Info:</strong> <a href="mailto:yatzuri.rojas@gmail.com">yatzuri.rojas@gmail.com</a>
</address>