@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RIPPED LABS</h1>
    <p class="lead"></p>
    <p><a href="https://localhost:44367/Workouts/Create" class="btn btn-primary btn-lg">Start Here &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Design!</h2>
        <p>
             Ever wanted to design your own workout to share with the world? Well, now you can with RIPPED LABS!
        </p>
        <p><a class="btn btn-default" href="https://localhost:44367/Workouts/Create">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Interact!</h2>
        <p>You can now share YOUR workouts with others around the world! They will be able to rate and book your workouts, and you will get to do the same with their designs.</p>
        <p><a class="btn btn-default" href="https://localhost:44367">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get RIPPED!</h2>
        <p>Whatever your goal, age, sex or fitness level, this online lab will help you get it done with other users around the world's guidence. You can tailor it to you and your goals.</p>
        <p><a class="btn btn-default" href="https://localhost:44367">Learn more &raquo;</a></p>
    </div>
</div>